<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
  <main>
    <div class="cards-container">
      <% if (data.length > 0) { %>
        <% data.forEach((d) => { %>
          <div class="card">
            <div class="card-header">
              <%= d.judul %>
            </div>
            <div class="card-body">
              <p><strong>Narasumber:</strong> <%= d.narsum %></p>
              <p><%= d.isi %></p>
            </div>
            <div class="card-footer">
              <a href="/view-materi/<%= d.id %>" class="btn btn-primary" style="text-decoration: none;">Lihat Detail</a>
            </div>
          </div>
        <% }); %>
      <% } else { %>
        <p>Belum tersedia data</p>
      <% } %>
    </div>
  </main>
  
</body>
</html>
